{% extends "base/index.html" %}
{% block main_content %}
<div class="row main-content">
 <div class="col-md-2"></div>
 <div class="col-md-8">
   <h4>{{ location.title }}</h4>
 <div class='panel'>
   {% if location.address %}<p>
    <b>Location: </b>
    {{ location.address }}</p>
   {% endif %}
   {% if location.hours %}
    <p><b>Hours: </b>
    {{ location.hours }}</p>
   {% endif %}
    <p>
    <div class="col-md-4 text-right">
      <h3>{% include 'base/rating.html' with rating=location.get_average_rating %}</h3>
    </div></p> 
    {% if location.image_file %}<p>
   <img class="img-responsive" src="{{ location.image_file.url }}"></img>
   {% endif %}</p>
 <p>{{ location.description }}</p>
 </div>
 </div>
 <div class="col-md-2"></div>
</div>
{% endblock %}