{% extends "base/index.html" %}


{% block main_content %}

<br><br><br><br><br><br>
<div class="row">
    <div class="col-md-2"></div>
     
    <div class="col-md-8">
   {% for location in object_list %}
        <div class='panel'>
        <h3><a href="{{ location.get_absolute_url }}">{{ location.title }}</a></h3>
         <div class="col-md-4 text-right">
         <h3>{% include 'base/rating.html' with rating=location.get_average_rating %}</h3>
         </di>
        </div>
    {% endfor %}
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}
